.Slider {
    padding: 4rem;
    background: #fff;
    background: url('../images/dawnbg.png') center center/cover no-repeat; 
    height: 100vh;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    padding-bottom: 30px;
    color: #fff;
    text-decoration-line: red;
    text-decoration: underline;
    font-size: 4em;
  }

  h2 {
    text-align: center;
    padding-bottom: 30px;
    color: #fff;
    font-size: 4em;
  }
  
  .Slider__container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.95);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  .Slider__container.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(0.7);
  }
  
  .Slider__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .Slider__items {
    margin-bottom: 24px;
  }
  
  .Slider__item {
    display: flex;
    flex: 1;
    margin: 0 4rem;
    border-radius: 10px;
  }
  
  .Slider__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .Slider__item__pic-wrap {
    position: relative;
    width: 225px;
    padding-top: 200%; /* Messes with the img size too */
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .Slider__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    /* max-width: calc((100%) - 60px); */
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: var(--data-color);
    box-sizing: border-box;
  }

  .Slider__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.25s linear;
    pointer-events: none;
  }
  
  .Slider__item__img:hover {
    transform: scale(1.3);
    cursor:pointer;
  }
  
  .Slider__item__info {
    padding: 20px 30px 30px;
  }
  
  .Slider__item__text {
    color: #fff;
    /*color: #252e48;*/
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .Slider__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .Slider__item {
      margin-bottom: 2rem;
    }
    
  }
  